* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1.5rem 0;   
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-bottom: 1rem;
}

.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.form-field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 191px;
}

.form-button {
    margin: 1rem 0;
    padding: 0.5rem 1.25rem;
    background-color: #4d49c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#resultado{
    width: 100%;
}